<template>
    <div>
        <el-row type="flex" justify="end">
            <el-col :span="2">
                <el-button type="primary" size="mini"><a href="/flush" style="text-decoration: none; color: #fff">Выйти из опроса</a></el-button>
            </el-col>
        </el-row>
        <div v-show="newPollingData">
            <p>
                Благодарим Вас за участие в данном исследовании. Это исследование направлено на выяснение
                Вашего мнения о некоторых аспектах Вашей жизни.
            </p>
            <p>
                Анкета заполняется просто. Здесь нет правильных или неправильных ответов.
                Внимательно прочитайте вопросы анкеты и выберите тот вариант ответа, который Вам кажется наиболее точным.
                Если Вы не нашли такого варианта ответа, пометьте тот который Вам ближе всего.
            </p>
            <el-button type="primary" @click="newPollingData = false">Начать тестирование</el-button>
        </div>
        <div v-if="!newPollingData">
            <el-tabs v-model="activeQuestion" @tab-click="handleClick">
                <el-tab-pane v-for="(quest, i) in questions"
                             :label="i+1+''"
                             :name="i+1+''"
                             :key="i+1"
                             v-if="showTab(quest.id)">
                    <span slot="label" :class="isComplete(quest) ? 'answered-question' : ''">{{i+1+''}}</span>
                    <h1>{{quest.text}}</h1>
                    <div class="el-table el-table--fit" style="width: 100%;"
                         v-if="quest.answers.length === 0 && quest.children.length > 0">
                        <div class="el-table__body-wrapper is-scrolling-none">
                            <table class="el-table__body" style="width: 100%" cellspacing="0" cellpadding="0" border="0" >
                                <colgroup>
                                    <col name="el-table_3_column_7" width="40%">
                                    <col name="el-table_3_column_8" width="60%">
                                </colgroup>
                                <tbody>
                                <tr class="el-table__row"
                                    v-for="child in quest.children">
                                    <td class="el-table_3_column_7  ">
                                        <div class="cell"><b>{{child.text}}</b></div>
                                    </td>
                                    <td class="el-table_3_column_8  ">
                                        <div class="cell">
                                            <el-radio-group v-model="questionsWithAnswersData[child.id]"
                                                            @change="subQuestAnswerChanged(quest.id, child.id)">
                                                <el-radio-button v-for="answ in child.answers"
                                                                 :label="answ.id"
                                                                 :key="answ.id"
                                                                 :disabled="isAnswerDisabled(quest.id, answ.id)">
                                                    {{answ.text}}
                                                </el-radio-button>
                                            </el-radio-group>
                                            <el-button v-if="inNoDuplicateQuestions(quest.id)"
                                                       type="primary" size="mini"
                                                       icon="el-icon-close" circle
                                                       @click="deleteUniqueAnswer(quest.id, child.id)"></el-button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="el-table__column-resize-proxy" style="display: none;"></div>
                        </div>
                    </div>
                    <template v-else>
                        <el-checkbox-group v-if="quest.answersCount > 1"
                                           class="el-checkbox-group__vertical"
                                           v-model="questionsWithAnswersData[quest.id]"
                                           :min="1"
                                           :max="quest.answersCount"
                                           @change="answerChanged(quest)">
                            <el-checkbox-button v-for="answ in quest.answers"
                                                :label="answ.id"
                                                :key="answ.id">
                                {{answ.text}}
                            </el-checkbox-button>
                        </el-checkbox-group>
                        <el-radio-group v-else
                                        class="el-radio-group__vertical"
                                        v-model="questionsWithAnswersData[quest.id]"
                                        @change="answerChanged(quest)">
                            <el-radio-button v-for="answ in quest.answers"
                                             :label="answ.id"
                                             :key="answ.id">
                                {{answ.text}}
                            </el-radio-button>
                        </el-radio-group>
                        <el-input v-if="questionsWithOtherText.hasOwnProperty(quest.id)"
                                  v-model="questionsWithOtherText[quest.id]" placeholder="Другое" ></el-input>
                    </template>
                </el-tab-pane>
            </el-tabs>
            <el-button type="primary" @click="postPollingResult" v-if="showCompleteTest">Завершить тестирование</el-button>
            <el-button type="primary" @click="nextQuestion">Следующий вопрос</el-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            questions: Array,
            questionsWithAnswers: Object,
            questionsWithOther: Object,
            newPolling: Boolean,
        },
        data() {
            return {
                activeQuestion: '1',
                questionsWithAnswersData: {},
                questionsWithOtherText: {},
                newPollingData: true,
                questionsWithUniqueAnswers: {},
                // noDuplicateQuestions: [3],
                // goToSixAnswers: [3, 5],
                // fiveQ: 2,
                // fourQ: 1,
                noDuplicateQuestions: [999],

                goToSixAnswers: [29, 33, 34],
                fiveQ: 159,
                fourQ: 158,

                goToTenAnswers: [1, 33],
                nineQ: 163,
                eightQ: 162,

                goToTwelveAnswers: [33, 46, 47, 50],
                elevenQ: 165,
                tenQ: 164,

                goToTwentyAnswers: [2],
                ninetyQ: 173,
                eightyQ: 172,
                seventeenQ: 171,

                goToTwentyThreeAnswers: [2, 34],
                twentyTwoQ: 176,
                twentyOneQ: 175,
                twentyQ: 174,
                // goToSixAnswers: [9999, 9998],
                // goToSixAnswers: [9999, 9998],
                // goToSixAnswers: [9999, 9998],
                otherAnswerId: [26,39],
            };//cfm&C
        },

        mounted() {
            this.questionsWithAnswersData = this.questionsWithAnswers;
            this.questionsWithOtherText = this.questionsWithOther;
            this.newPollingData = this.newPolling;
            this.fillQuestionsWithUniqueAnswers();
        },

        computed: {
            showCompleteTest() {
                let res = true;
                for (let key in this.questionsWithAnswersData) {
                    res = res && this.isAnsweredById(key);
                    if  (!res) {
                        return false;
                    }
                }
                return res;
            },
        },

        methods: {
            fillQuestionsWithUniqueAnswers() {
                this.questions.forEach((item) => {
                    if (this.inNoDuplicateQuestions(item.id)) {
                        if (item.children.length > 0) {
                            let obj = {};
                            item.children.forEach((children) => {
                                if (this.questionsWithAnswersData[children.id] !== 0) {
                                    obj[this.questionsWithAnswersData[children.id]] = children.id;
                                }
                            });
                            this.$set(this.questionsWithUniqueAnswers, item.id, obj);
                        }
                    }
                });
            },
            inNoDuplicateQuestions(id) {
                return this.noDuplicateQuestions.indexOf(id) !== -1;
            },
            showTab(id) {
                if (id === this.fiveQ) {
                    return this.hidefiveQ(id);
                }
                if (id === this.nineQ) {
                    return this.hideNineQ(id);
                }
                if (id === this.elevenQ) {
                    return this.hideElevenQ(id);
                }
                if (id === this.eightyQ) {
                    return this.hideEighteenQ(id);
                }
                if (id === this.ninetyQ) {
                    return this.hideNineteenQ(id);
                }
                if (id === this.twentyOneQ) {
                    return this.hideTwentyOneQ(id);
                }
                if (id === this.twentyTwoQ) {
                    return this.hideTwentyTwoQ(id);
                }
                return true;
                // return this.hidefiveQ(id) || this.hideNineQ(id) || this.hideElevenQ(id);
            },
            ingoToSixAnswers(id) {
                return this.goToSixAnswers.indexOf(id) !== -1;
            },
            hidefiveQ(id) {
                return !(id === this.fiveQ && this.ingoToSixAnswers(this.questionsWithAnswersData[this.fourQ]));
            },

            inGoToTenAnswers(id) {
                return this.goToTenAnswers.indexOf(id) !== -1;
            },
            hideNineQ(id) {
                return !(id === this.nineQ && this.inGoToTenAnswers(this.questionsWithAnswersData[this.eightQ]));
            },

            inGoToTwelveAnswers(id) {
                return this.goToTwelveAnswers.indexOf(id) !== -1;
            },
            hideElevenQ(id) {
                return !(id === this.elevenQ && this.inGoToTwelveAnswers(this.questionsWithAnswersData[this.tenQ]));
            },

            inGoToTwentyAnswers(id) {
                return this.goToTwentyAnswers.indexOf(id) !== -1;
            },
            hideEighteenQ(id) {
                return !(id === this.eightyQ && this.inGoToTwentyAnswers(this.questionsWithAnswersData[this.seventeenQ]));
            },
            hideNineteenQ(id) {
                return !(id === this.ninetyQ && this.inGoToTwentyAnswers(this.questionsWithAnswersData[this.seventeenQ]));
            },

            inGoToTwentyThreeAnswers(id) {
                return this.goToTwentyThreeAnswers.indexOf(id) !== -1;
            },
            hideTwentyOneQ(id) {
                return !(id === this.twentyOneQ && this.inGoToTwentyThreeAnswers(this.questionsWithAnswersData[this.twentyQ]));
            },
            hideTwentyTwoQ(id) {
                return !(id === this.twentyTwoQ && this.inGoToTwentyThreeAnswers(this.questionsWithAnswersData[this.twentyQ]));
            },

            isComplete(quest) {
                if (this.isAnsweredById(quest.id)) {
                    return true;
                }
                if (quest.children.length > 0){
                    return quest.children.every(item => this.isAnsweredById(item.id));
                }
                return false;
            },

            isAnsweredById(key) {
                if (!this.questionsWithAnswersData.hasOwnProperty(key)) {
                    return false;
                }

                if (this.questionsWithOtherText.hasOwnProperty(key) && this.questionsWithOtherText[key] === null) {
                    return false;
                }

                if (
                    this.questionsWithAnswersData[key] === 0 ||
                    ((this.questionsWithAnswersData[key] instanceof Array) &&
                        this.questionsWithAnswersData[key].length === 0)
                ) {
                    return false;
                }

                return true;
            },

            isAnswerDisabled(quest, answer) {
                if (this.questionsWithUniqueAnswers[quest]) {
                    if (this.questionsWithUniqueAnswers[quest][answer]) {
                        return true
                    }
                    return false;
                }
                return false;
            },

            answerChanged(quest) {
                if (this.otherAnswerId.indexOf(this.questionsWithAnswersData[quest.id]) !== -1 ||
                    ((this.questionsWithAnswersData[quest.id] instanceof Array) &&
                        this.questionsWithAnswersData[quest.id].indexOf(this.otherAnswerId[0]) !== -1 &&
                        this.questionsWithAnswersData[quest.id].indexOf(this.otherAnswerId[1]) !== -1)) {
                    if (!this.questionsWithOtherText.hasOwnProperty(quest.id)) {
                        this.$set(this.questionsWithOtherText, quest.id, null);
                    }
                } else {
                    this.$delete(this.questionsWithOtherText, quest.id)
                }
                if (quest.id === this.fourQ) {
                    this.delOrSetfiveQ();
                }
                if (quest.id === this.eightQ) {
                    this.delOrSetNineQ();
                }
                if (quest.id === this.tenQ) {
                    this.delOrSetElevenQ();
                }
                if (quest.id === this.seventeenQ) {
                    this.delOrSetNineteenEighteenQ();
                }
                if (quest.id === this.twentyQ) {
                    this.delOrSetTwentyOneTwoQ();
                }
            },

            subQuestAnswerChanged(mainQuestId, childId) {
                this.addAnswerToUnique(mainQuestId, childId);
                this.delOrSetfiveQ();
                this.delOrSetNineQ();
                this.delOrSetElevenQ();
            },

            addAnswerToUnique(mainQuestId, childId) {
                if (!this.questionsWithUniqueAnswers[mainQuestId]) {
                    return;
                }
                this.deleteUniqueAnswer(mainQuestId, childId, false);
                this.$set(this.questionsWithUniqueAnswers[mainQuestId], this.questionsWithAnswersData[childId], childId);
            },

            deleteUniqueAnswer(mainQuestId, childId, deleteFromQuestionsWithAnswers = true) {
                for (let key in this.questionsWithUniqueAnswers[mainQuestId]) {
                    if (this.questionsWithUniqueAnswers[mainQuestId][key] &&
                        this.questionsWithUniqueAnswers[mainQuestId][key] === childId) {
                        this.$delete(this.questionsWithUniqueAnswers[mainQuestId], key);
                        if (deleteFromQuestionsWithAnswers) {
                            this.questionsWithAnswersData[childId] = 0;
                        }
                    }
                }
            },

            delOrSetfiveQ() {
                if (this.ingoToSixAnswers(this.questionsWithAnswersData[this.fourQ])) {
                    this.$delete(this.questionsWithAnswersData, this.fiveQ);
                    this.$delete(this.questionsWithOtherText, this.fiveQ);
                } else {
                    this.$set(this.questionsWithAnswersData, this.fiveQ, this.questionsWithAnswersData[this.fiveQ] || 0);
                }
            },

            delOrSetNineQ() {
                console.log(this.inGoToTenAnswers(this.questionsWithAnswersData[this.eightQ]));
                if (this.inGoToTenAnswers(this.questionsWithAnswersData[this.eightQ])) {
                    this.$delete(this.questionsWithAnswersData, this.nineQ);
                    this.$delete(this.questionsWithOtherText, this.nineQ);
                } else {
                    this.$set(this.questionsWithAnswersData, this.nineQ, this.questionsWithAnswersData[this.nineQ] || 0);
                }
            },

            delOrSetElevenQ() {
                if (this.inGoToTwelveAnswers(this.questionsWithAnswersData[this.tenQ])) {
                    this.$delete(this.questionsWithAnswersData, this.elevenQ);
                    this.$delete(this.questionsWithOtherText, this.elevenQ);
                } else {
                    this.$set(this.questionsWithAnswersData, this.elevenQ, this.questionsWithAnswersData[this.elevenQ] || 0);
                }
            },
            delOrSetNineteenEighteenQ() {
                if (this.inGoToTwentyAnswers(this.questionsWithAnswersData[this.seventeenQ])) {
                    this.$delete(this.questionsWithAnswersData, this.eightyQ);
                    this.$delete(this.questionsWithOtherText, this.eightyQ);
                    this.$delete(this.questionsWithAnswersData, this.ninetyQ);
                    this.$delete(this.questionsWithOtherText, this.ninetyQ);
                } else {
                    this.$set(this.questionsWithAnswersData, this.eightyQ, this.questionsWithAnswersData[this.eightyQ] || 0);
                    this.$set(this.questionsWithAnswersData, this.ninetyQ, this.questionsWithAnswersData[this.ninetyQ] || 0);
                }
            },
            delOrSetTwentyOneTwoQ() {
                if (this.inGoToTwentyThreeAnswers(this.questionsWithAnswersData[this.twentyQ])) {
                    this.$delete(this.questionsWithAnswersData, this.twentyOneQ);
                    this.$delete(this.questionsWithOtherText, this.twentyOneQ);
                    this.$delete(this.questionsWithAnswersData, this.twentyTwoQ);
                    this.$delete(this.questionsWithOtherText, this.twentyTwoQ);
                } else {
                    this.$set(this.questionsWithAnswersData, this.twentyOneQ, this.questionsWithAnswersData[this.twentyOneQ] || 0);
                    this.$set(this.questionsWithAnswersData, this.twentyTwoQ, this.questionsWithAnswersData[this.twentyTwoQ] || 0);
                }
            },

            nextQuestion() {
                let next = +this.activeQuestion + 1;
                if (next === 5 && this.ingoToSixAnswers(this.questionsWithAnswersData[this.fourQ])) {
                    next++;
                } else
                if (next === 9 && this.inGoToTenAnswers(this.questionsWithAnswersData[this.eightQ])) {
                    next++;
                } else
                if (next === 11 && this.inGoToTwelveAnswers(this.questionsWithAnswersData[this.tenQ])) {
                    next++;
                } else
                if (next === 18 && this.inGoToTwentyAnswers(this.questionsWithAnswersData[this.seventeenQ])) {
                    next += 2;
                } else
                if (next === 19 && this.inGoToTwentyAnswers(this.questionsWithAnswersData[this.seventeenQ])) {
                    next++;
                } else
                if (next === 21 && this.inGoToTwentyThreeAnswers(this.questionsWithAnswersData[this.twentyQ])) {
                    next += 2;
                } else
                if (next === 22 && this.inGoToTwentyThreeAnswers(this.questionsWithAnswersData[this.twentyQ])) {
                    next++;
                }

                if (this.questions.length >= next) {
                    this.activeQuestion = next + '';
                    this.handleClick();
                }
                window.scrollTo(0,0);
            },

            handleClick() {
                axios.post('/postAnswer', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                });
            },

            postPollingResult() {
                axios.post('/additionalPolling', {
                    question_type: 3,
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                }).then(
                    (response) => {
                        window.location = '/';
                    }
                ).catch((error) => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.error,
                        type: 'error'
                    });
                });
            },
        }
    }
</script>
