<template>
    <form action="/polling-results" method="post">
        <input type="hidden" name="_token" :value="csrf">
        <el-date-picker type="date" placeholder="Pick a date" style="width: 100%;"
                        format="dd.MM.yyyy" v-model="date" name="date">
        </el-date-picker>
        <button type="submit" class="el-button el-button--primary" name="submit">получить результаты</button>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                date: '',
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            };
        },

        mounted() {
        },

        computed: {
        },

        methods: {
            onSubmit() {

            },
        }
    }
</script>
