<template>
    <div>
        <div>
            <el-input v-model="credentials" placeholder="Введите идентификационный код" ></el-input>
            <el-button type="primary" @click="next">Далее</el-button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newPollingData: true,
                credentials: '',
            };
        },

        mounted() {
        },

        computed: {
        },

        methods: {
            handleClick() {
                axios.post('/postAnswer', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                });
            },

            next() {
                axios.post('/check-credentials', {
                    credentials: this.credentials,
                }).then(
                    (response) => {
                        window.location = '/';
                    }
                ).catch((error) => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.error,
                        type: 'error'
                    });
                });
            },
        }
    }
</script>
