<template>
    <div>
        <el-row type="flex" justify="end">
            <el-col :span="2">
                <el-button type="primary" size="mini"><a href="/flush" style="text-decoration: none; color: #fff">Выйти из опроса</a></el-button>
            </el-col>
        </el-row>
        <div v-show="newPollingData">
            <p>
                В учебном заведении
            </p>
            <p>
                {{ institution.name }}
            </p>
            <p>
                Вы являетесь ?
            </p>
            <div>
                <el-radio-group v-model="profession">
                    <el-radio-button label="teacher">Преподавателем</el-radio-button>
                    <el-radio-button label="student">Учеником</el-radio-button>
                </el-radio-group>
            </div>
            <div v-if="profession === 'teacher' && institution.type === 2">
                <el-select v-model="classNum" placeholder="Номер класса">
                    <el-option
                        v-for="item in 11"
                        :key="item"
                        :label="item"
                        :value="item">
                    </el-option>
                </el-select>
                <el-select v-model="classLetter" placeholder="Буква класса">
                    <el-option
                        v-for="item in letters"
                        :key="item"
                        :label="item"
                        :value="item">
                    </el-option>
                </el-select>
            </div>
            <div v-if="profession === 'teacher' && institution.type === 1">
                <el-input v-model="group" placeholder="Номер группы">
                </el-input>
            </div>
            <div v-if="profession === 'teacher'">
                <el-input v-model="studentsCount" placeholder="Количество учеников">
                </el-input>
            </div>
            <div v-if="profession === 'student'">
                <el-select v-model="studentGroup" placeholder="Класс \ группа">
                    <el-option
                        v-for="item in institution.groups"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div v-show="newPollingData">
            <el-button type="primary" @click="next">Далее</el-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            institution: Object,
        },
        data() {
            return {
                newPollingData: true,
                profession: 'teacher',
                classNum: null,
                classLetter: null,
                letters: [
                    'А',
                    'Б',
                    'В',
                    'Г',
                    'Д',
                    'Е',
                    'Ж',
                    'З',
                    'И',
                    'К',
                    'Л',
                    'М',
                    'Н',
                    'О',
                    'П',
                    'Р',
                    'С',
                    'Т',
                    'У',
                    'Ф',
                ],
                group: null,
                studentGroup: null,
                studentsCount: null,
            };
        },

        mounted() {
        },

        computed: {
            classFullName() {
                return this.classNum + this.classLetter;
            },
            cantNext() {
                return this.profession === 'teacher' &&
                    (this.studentsCount === null || this.studentsCount === '' || this.studentsCount == 0);
            }
        },

        methods: {
            next() {
                if (this.cantNext) {
                    this.$notify({
                        title: 'Ошибка',
                        message: 'Заполните количество учеников!',
                        type: 'error'
                    });
                    return;
                }
                axios.post('/to-polling', {
                    profession: this.profession,
                    group: this.group ? this.group : this.classFullName,
                    student_group: this.studentGroup,
                    students_count: this.studentsCount,
                }).then(
                    (response) => {
                        window.location = '/polling';
                    }
                ).catch((error) => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.error,
                        type: 'error'
                    });
                });
            },
        }
    }
</script>
