<template>
    <div class="container">
        {{question.text}}
    </div>
</template>

<script>
    export default {
        props: {
            question: Object,
        },
        data() {
            return {
                activeQuestion: 3
            };
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    }
</script>
