<template>
    <div>
        <el-row type="flex" justify="end">
            <el-col :span="2">
                <el-button type="primary" size="mini"><a href="/flush" style="text-decoration: none; color: #fff">Выйти из опроса</a></el-button>
            </el-col>
        </el-row>
        <div v-show="newPollingData">
            <p>
                Благодарим Вас за участие в данном исследовании. Это исследование направлено на выяснение
                Вашего мнения о некоторых аспектах Вашей жизни.
            </p>
            <p>
                Анкета заполняется просто. Здесь нет правильных или неправильных ответов.
                Внимательно прочитайте вопросы анкеты и выберите тот вариант ответа, который Вам кажется наиболее точным.
                Если Вы не нашли такого варианта ответа, пометьте тот который Вам ближе всего.
            </p>
            <el-button type="primary" @click="newPollingData = false">Начать тестирование</el-button>
        </div>
        <div v-show="!newPollingData">
            <el-tabs v-model="activeQuestion" @tab-click="handleClick">
                <el-tab-pane v-for="(quest, i) in questions"
                             :label="i+1+''"
                             :name="i+1+''"
                             :key="i+1"
                             v-if="hideSecondQuestion(quest.id)">
                    <span slot="label" :class="isComplete(quest) ? 'answered-question' : ''">{{i+1+''}}</span>
                    <h1>{{quest.text}}</h1>
                    <div class="el-table el-table--fit" style="width: 100%;"
                         v-if="quest.answers.length === 0 && quest.children.length > 0">
                        <div class="el-table__body-wrapper is-scrolling-none">
                            <table class="el-table__body" style="width: 100%" cellspacing="0" cellpadding="0" border="0" >
                                <colgroup>
                                    <col name="el-table_3_column_7" width="40%">
                                    <col name="el-table_3_column_8" width="60%">
                                </colgroup>
                                <tbody>
                                <tr class="el-table__row"
                                    v-for="child in quest.children">
                                    <td class="el-table_3_column_7  ">
                                        <div class="cell"><b>{{child.text}}</b></div>
                                    </td>
                                    <td class="el-table_3_column_8  ">
                                        <div class="cell">
                                            <el-radio-group v-model="questionsWithAnswersData[child.id]"
                                                            @change="subQuestAnswerChanged(quest.id, child.id)">
                                                <el-radio-button v-for="answ in child.answers"
                                                                 :label="answ.id"
                                                                 :key="answ.id"
                                                                 :disabled="isAnswerDisabled(quest.id, answ.id)">
                                                    {{answ.text}}
                                                </el-radio-button>
                                            </el-radio-group>
                                            <el-button v-if="inNoDuplicateQuestions(quest.id)"
                                                       type="primary" size="mini"
                                                       icon="el-icon-close" circle
                                                       @click="deleteUniqueAnswer(quest.id, child.id)"></el-button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="el-table__column-resize-proxy" style="display: none;"></div>
                        </div>
                    </div>
                    <template v-else>
                        <el-checkbox-group v-if="quest.answersCount > 1"
                                           class="el-checkbox-group__vertical"
                                           v-model="questionsWithAnswersData[quest.id]"
                                           :min="1"
                                           :max="quest.answersCount"
                                           @change="answerChanged(quest)">
                            <el-checkbox-button v-for="answ in quest.answers"
                                                :label="answ.id"
                                                :key="answ.id">
                                {{answ.text}}
                            </el-checkbox-button>
                        </el-checkbox-group>
                        <el-radio-group v-else
                                        class="el-radio-group__vertical"
                                        v-model="questionsWithAnswersData[quest.id]"
                                        @change="answerChanged(quest)">
                            <el-radio-button v-for="answ in quest.answers"
                                             :label="answ.id"
                                             :key="answ.id">
                                {{answ.text}}
                            </el-radio-button>
                        </el-radio-group>
                        <el-input v-if="questionsWithOtherText.hasOwnProperty(quest.id)"
                                  v-model="questionsWithOtherText[quest.id]" placeholder="Кол-во" required></el-input>
                    </template>
                </el-tab-pane>
            </el-tabs>
            <el-button type="primary" @click="postPollingResult" v-if="showCompleteTest">Завершить тестирование</el-button>
            <el-button type="primary" @click="nextQuestion">Следующий вопрос</el-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            questions: Array,
            questionsWithAnswers: Object,
            questionsWithOther: Object,
            newPolling: Boolean,
        },
        data() {
            return {
                activeQuestion: '1',
                questionsWithAnswersData: {},
                questionsWithOtherText: {},
                newPollingData: true,
                questionsWithUniqueAnswers: {},
                // noDuplicateQuestions: [3],
                // goToThirdAnswers: [3, 5],
                // secondQuestion: 2,
                // firstQuestion: 1,
                noDuplicateQuestions: [999],
                goToThirdAnswers: [9999, 9998],
                secondQuestion: 998,
                firstQuestion: 997,
                otherAnswerId: 1,
            };
        },

        mounted() {
            this.questionsWithAnswersData = this.questionsWithAnswers;
            this.questionsWithOtherText = this.questionsWithOther;
            this.newPollingData = this.newPolling;
            this.fillQuestionsWithUniqueAnswers();
        },

        computed: {
            showCompleteTest() {
                let res = true;
                for (let key in this.questionsWithAnswersData) {
                    res = res && this.isAnsweredById(key);
                    if  (!res) {
                        return false;
                    }
                }
                return res;
            },
        },

        methods: {
            fillQuestionsWithUniqueAnswers() {
                this.questions.forEach((item) => {
                    if (this.inNoDuplicateQuestions(item.id)) {
                        if (item.children.length > 0) {
                            let obj = {};
                            item.children.forEach((children) => {
                                if (this.questionsWithAnswersData[children.id] !== 0) {
                                    obj[this.questionsWithAnswersData[children.id]] = children.id;
                                }
                            });
                            this.$set(this.questionsWithUniqueAnswers, item.id, obj);
                        }
                    }
                });
            },
            inNoDuplicateQuestions(id) {
                return this.noDuplicateQuestions.indexOf(id) !== -1;
            },
            inGoToThirdAnswers(id) {
                return this.goToThirdAnswers.indexOf(id) !== -1;
            },
            hideSecondQuestion(id) {
                return !(id === this.secondQuestion && this.inGoToThirdAnswers(this.questionsWithAnswersData[this.firstQuestion]));
            },

            isComplete(quest) {
                if (this.isAnsweredById(quest.id)) {
                    return true;
                }
                if (quest.children.length > 0){
                    return quest.children.every(item => this.isAnsweredById(item.id));
                }
                return false;
            },

            isAnsweredById(key) {
                if (!this.questionsWithAnswersData.hasOwnProperty(key)) {
                    return false;
                }

                if (this.questionsWithOtherText.hasOwnProperty(key) && this.questionsWithOtherText[key] === null) {
                    return false;
                }

                if (
                    this.questionsWithAnswersData[key] === 0 ||
                    ((this.questionsWithAnswersData[key] instanceof Array) &&
                        this.questionsWithAnswersData[key].length === 0)
                ) {
                    return false;
                }

                return true;
            },

            isAnswerDisabled(quest, answer) {
                if (this.questionsWithUniqueAnswers[quest]) {
                    if (this.questionsWithUniqueAnswers[quest][answer]) {
                        return true
                    }
                    return false;
                }
                return false;
            },

            answerChanged(quest) {
                if (this.questionsWithAnswersData[quest.id] === this.otherAnswerId ||
                    ((this.questionsWithAnswersData[quest.id] instanceof Array) &&
                        this.questionsWithAnswersData[quest.id].indexOf(this.otherAnswerId) !== -1)) {
                    if (!this.questionsWithOtherText.hasOwnProperty(quest.id)) {
                        this.$set(this.questionsWithOtherText, quest.id, null);
                    }
                } else {
                    this.$delete(this.questionsWithOtherText, quest.id)
                }
                // this.delOrSetSecondQuestion();
            },

            subQuestAnswerChanged(mainQuestId, childId) {
                this.addAnswerToUnique(mainQuestId, childId);
                // this.delOrSetSecondQuestion();
            },

            addAnswerToUnique(mainQuestId, childId) {
                if (!this.questionsWithUniqueAnswers[mainQuestId]) {
                    return;
                }
                this.deleteUniqueAnswer(mainQuestId, childId, false);
                this.$set(this.questionsWithUniqueAnswers[mainQuestId], this.questionsWithAnswersData[childId], childId);
            },

            deleteUniqueAnswer(mainQuestId, childId, deleteFromQuestionsWithAnswers = true) {
                for (let key in this.questionsWithUniqueAnswers[mainQuestId]) {
                    if (this.questionsWithUniqueAnswers[mainQuestId][key] &&
                        this.questionsWithUniqueAnswers[mainQuestId][key] === childId) {
                        this.$delete(this.questionsWithUniqueAnswers[mainQuestId], key);
                        if (deleteFromQuestionsWithAnswers) {
                            this.questionsWithAnswersData[childId] = 0;
                        }
                    }
                }
            },

            // delOrSetSecondQuestion() {
            //     if (this.inGoToThirdAnswers(this.questionsWithAnswersData[this.firstQuestion])) {
            //         this.$delete(this.questionsWithAnswersData, this.secondQuestion);
            //     } else {
            //         this.$set(this.questionsWithAnswersData, this.secondQuestion, this.questionsWithAnswersData[this.secondQuestion] || 0);
            //     }
            // },

            nextQuestion() {
                let next = +this.activeQuestion + 1;
                if (next === 2 && this.inGoToThirdAnswers(this.questionsWithAnswersData[this.firstQuestion])) {
                    next++;
                }
                if (this.questions.length >= next) {
                    this.activeQuestion = next + '';
                    this.handleClick();
                }
                window.scrollTo(0,0);
            },

            handleClick() {
                axios.post('/postAnswer', {
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                });
            },

            postPollingResult() {
                axios.post('/', {
                    question_type: 1,
                    polling: this.questionsWithAnswersData,
                    others: this.questionsWithOtherText,
                }).then(
                    (response) => {
                        window.location = '/';
                    }
                ).catch((error) => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.error,
                        type: 'error'
                    });
                });
            },
        }
    }
</script>
